#overrided-bootstrap p {
  margin: 0;
}
#overrided-bootstrap td {
  vertical-align: middle;
  text-align: center;
}
#overrided-bootstrap th {
  text-align: center;
  background-color: #167F92;
  color: #fff;
}
#overrided-bootstrap .form-control {
  max-width: 150px;
  width: 100%;
  display: inline-block;
}
.countresult {
  text-align: center;
}

.slide-fade-enter-active, .item-transit-enter-active {
  animation: fade-in .3s;
}
.slide-fade-leave-active, .item-transit-leave-active {
  animation: fade-out .3s;
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
    width: 0;
    height: 0;
  }
  100% {
    opacity: 1;
  }
}
-webkit-@keyframes fade-in {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
    width: 0;
    height: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
    width: 0;
    height: 0;
  }
  100% {
    opacity: 0;
  }
}
-webkit-@keyframes fade-out {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
    width: 0;
    height: 0;
  }
  100% {
    opacity: 0;
  }
}
